# Ignore virtual environments
venv/
.venv/

# Ignore checkpoints and models
results/
*.safetensors

# Ignore logs and temporary files
*.log
*.tmp

# Ignore system files
.DS_Store
.idea/
*.pyc

# Ignore datasets

